<h1>
  Movie #<%= @movie.id %> details
</h1>

<div>
  <a href="/movies">
    Go back
  </a>
</div>

<div>
  <a href="/delete_movie/<%= @movie.id %>">
    Delete movie
  </a>
</div>

<hr>

<form action="/modify_movie/<%= @movie.id %>" method="post">
  <div>
    <label for="title_box">
      Title
    </label>

    <input type="text" id="title_box" name="query_title" value="<%= @movie.title %>">
  </div>

  <div>
    <label for="year_box">
      Year
    </label>

    <input type="text" id="year_box" name="query_year" value="<%= @movie.year %>">
  </div>

  <div>
    <label for="duration_box">
      Duration
    </label>

    <input type="text" id="duration_box" name="query_duration" value="<%= @movie.duration %>">
  </div>

  <div>
    <label for="description_box">
      Description
    </label>

    <textarea id="description_box" name="query_description" rows="3"><%= @movie.description %></textarea>
  </div>

  <div>
    <label for="image_box">
      Image URL
    </label>

    <input type="text" id="image_box" name="query_image" value="<%= @movie.image %>">
  </div>

  <div>
    <label for="director_id_box">
      Director
    </label>

    <select id="director_id_box" name="query_director_id">
      <% Director.order({ :name => :asc }).each do |a_director| %>
        <% if a_director.id == @movie.director_id %>
          <option value="<%= a_director.id %>" selected>
            <%= a_director.name %>
          </option>
        <% else %>
          <option value="<%= a_director.id %>">
            <%= a_director.name %>
          </option>
        <% end %>
      <% end %>
    </select>
  </div>

  <button>
    Update movie
  </button>
</form>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @movie.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @movie.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @movie.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @movie.description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @movie.image %>" style="width:250px;">
  </dd>

  <dt>
    Director
  </dt>
  <dd>
    <% matching_directors = Director.where({ :id => @movie.director_id }) %>

    <% the_director = matching_directors.at(0) %>

    <% if the_director != nil %>
      <%= the_director.name %>
    <% else %>
      Uh oh! We weren't able to find a director for this movie.
    <% end %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@movie.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@movie.updated_at) %> ago
  </dd>
</dl>

<hr>
